spring:
  application:
    name: tf-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/tennisfan_db
    username: postgres
    password: vagra348
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

server:
  port: 8081